<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h3>Build a basic employee payroll dashboard</h3>
<div style="margin-left:20px">
<h4>Use Case:</h4>

You are building a secure Payroll lookup system for HR. HR would like a system that shows all associate names and their Id.
Upon clicking the ID, show the employee details on screen.

<h4>Requirements:</h4>

<ol>
<li>Add Bootstrap or Material Design to the project for some component styling.</li>
<li>Display all associates and their corresponding ID ('All Employees' API listed below)</li>
<li>Order employees by name</li>
<li>Clicking on a row, will result in displaying that associates details on the screen (Must use Single Employee Detail API below for details)</li>
<li>Add a search to filter the employees by name.</li>
<li>Add necessary unit test for the components you built.</li>
<li>Implement a simple login, with a hard-coded username and password (hr_admin:12345). Base64 encode the username:password and add it to sessionStorage:authToken</li>
<li>Inject the authToken into all API requests with like so
  <ul><li>Authorization: Bearer <span style="color:blue; font-style:italic">authToken</span></li></ul>
</li>
<li>Update the app so the login is required before rendering the employee data</li>
</ol>

<h4>Use the following REST endpoint</h4>

<ul>
  <li>All Employees (http://dummy.restapiexample.com/api/v1/employees)  </li>
  <li>fallback API endpoint (https://hub.dummyapis.com/employee)</li>
</ul>

</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
